<img src="../assets/Semana 14 - Reprograma Mariana Pires.png" style="max-width: 100vw" />

<style>
ul {
  list-style: none;
}
ul li:before {
  content: '(✓)';
}
</style>
<h2 style='font-family: Lucida Console; text-align:center'>Descrição:</h2>

<p style="text-align: justify"> Nesta semana trabalharemos com a formulação de insights e visualização dos mesmos utilizando de bases de dados da empresa Olist fornecidas pela professora Deborah. Resolvi criar a minha base do zero. Mais informações abaixo. </p>

<h2 style='font-family: Lucida Console; text-align:center'><b>Checklist:</b></h2>
<ul style="text-align: justify"><li> Formular o mínimo de 4 perguntas para responder com suas análises;</li>
<li> Utilizar pelo menos 3 bases de dados da Olist (caso você deseje criar sua base do zero);</li>
<li> Criar pelo menos 3 gráficos;</li>
<li> Exporte sua base final;</li>

Submeta uma pasta que contenha:
<div style="margin: 0.5em"><li> O arquivo seu_nome.ipynb com sua análise exploratória;</li>
<li> A base final criada por você no formato .csv;</li>
<li> As bases da olist em .csv que você utilizou na criação da sua análise exploratória;</li></div>

In [1]:
#Importando a biblioteca que utilizaremos no início da atividade
import pandas as pd

In [18]:
#Criando os dataframes utilizados na atividade
df_vendedores = pd.read_csv('../../../material/datasets_olist/olist_sellers_dataset.csv')
df_clientes = pd.read_csv('../../../material/datasets_olist/olist_customers_dataset.csv')
df_produtos = pd.read_csv('../../../material/datasets_olist/olist_products_dataset.csv')

<h2 style='font-family: Lucida Console; text-align:center;'>Limpeza dos dados:</h2>

<h4 style='font-family: Lucida Console; text-align:justify;'><ul><li>Primeiro dataframe:</li></ul></h4>
<p style="text-align: justify">O primeiro dataframe que iremos limpar será o voltado para localização de vendedores.</p>
<p style="text-align: justify">Iremos utilizar as seguintes colunas: </p>
<ul>
<li><b>seller_id</b>: coluna identificadora do vendedor.</li>
<li><b>seller_city</b>: a cidade de onde é o vendedor.</li>
<li><b>seller_state</b>: a sigla do estado de onde é o vendedor.</li>
</ul>
<p style="text-align: justify">E removeremos: </p>
<ul>
<li><b>seller_zip_code_prefix</b>: os 5 primeiros dígitos que correspondem ao CEP do vendedor.</li>
</ul>

In [12]:
#Checando aqui o formato original da tabela
df_vendedores

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [ ]:
#Como não utilizaremos a coluna seller_zip_code, aqui começaremos a limpar o dataframe
df_vendedores = df_vendedores.drop(columns=['seller_zip_code_prefix'])

In [16]:
#Exibindo a coluna limpa
df_vendedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seller_id     3095 non-null   object
 1   seller_city   3095 non-null   object
 2   seller_state  3095 non-null   object
dtypes: object(3)
memory usage: 72.7+ KB

<ul><h4 style='font-family: Lucida Console; text-align:justify; margin-left: 0 !important;'><li>Segundo dataframe:</li></h4></ul>
<p style="text-align: justify">O segundo dataframe que iremos limpar será o voltado para localização de clientes.</p>
<p style="text-align: justify">Iremos utilizar as seguintes colunas: </p>
<ul>
<li><b>customer_unique_id</b>: uma ID única para cada usuário.</li>
<li><b>customer_city</b>: a cidade de onde é o vendedor.</li>
<li><b>customer_state</b>: a sigla do estado de onde é o vendedor.</li>
</ul>
<p style="text-align: justify">E removeremos: </p>
<ul>
<li><b>customer_id</b>: removeremos esta coluna, pois ela representa um valor temporário gerado todas as vezes que um consumidor faz um pedido.</li>
<li><b>customer_zip_code_prefix	</b>: os 5 primeiros dígitos do CEP do comprador.</li>
</ul>

In [19]:
df_clientes

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [21]:
#Limpando o que não iremos utilizar no dataframe
df_clientes = df_clientes.drop(columns=['customer_id','customer_zip_code_prefix'])

In [22]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_unique_id  99441 non-null  object
 1   customer_city       99441 non-null  object
 2   customer_state      99441 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

<ul><h4 style='font-family: Lucida Console; text-align:justify; margin-left: 0 !important;'><li>Terceiro dataframe:</li></h4></ul>
<p style="text-align: justify">O terceiro dataframe que iremos limpar será o voltado para os produtos vendidos.</p>
<p style="text-align: justify">Iremos utilizar as seguintes colunas: </p>
<ul>
<li><b>product_id</b>: uma ID única para cada produto.</li>
<li><b>product_category_name</b>: categoria em que o produto se enquadra.</li>
<li><b>product_weight_g</b>: peso do produto em gramas.</li>
<li><b>product_height_cm</b>: altura do produto em cm.</li>
<li><b>product_width_cm</b>: largura do produto em cm.</li>

</ul>
<p style="text-align: justify">E removeremos: </p>
<ul>
<li><b>product_name_lenght</b>: quantidade de caracteres do nome do produto.</li>
<li><b>product_description_lenght	</b>: quantidade de caracteres de descrição do produto.</li>
<li><b>product_photos_qty	</b>: quantidade de fotos atrelada ao produto.</li>
<li><b>product_length_cm	</b>: comprimento do produto em cm.</li>
</ul>

In [20]:
df_produtos

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [23]:
#Mais uma vez limpando o dataframe
df_produtos = df_produtos.drop(columns=['product_name_lenght','product_description_lenght','product_photos_qty','product_length_cm'])

In [24]:
df_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32341 non-null  object
 2   product_weight_g       32949 non-null  float64
 3   product_height_cm      32949 non-null  float64
 4   product_width_cm       32949 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB